/* ──────────────── header ──────────────── */
header {
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 80;
    background-color: rgba(18, 18, 18, 0.8);
}

.header-container {
    height: clamp(5rem, 4.308rem + 1.923vw, 8rem);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

header a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-family: "Sora";
    font-size: var(--font-size-title2); 
    font-weight: 800;   
}

.logo-gradient {
    background: linear-gradient(to bottom, var(--primary-color), #ffe279);
    background-clip: text;
    color: transparent;
}

.menu-list {
    font-size: var(--font-size-body-lg);
    display: flex; 
    gap: clamp(2.5rem, 1.5rem + 1.302vw, 4rem);
}

.hamburger-btn {
    display: none;
    font-size: var(--font-size-body-xl);
    color: var(--white-color);
}

.menu-item a:hover, .menu-item a:focus {
    color: var(--white-color);  
}

/* ──────────────── slide-menu ──────────────── */
.slide-menu {
    width: 100vw;
    height: 100vh;
    background-color: var(--black-color);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: all 0.3s ease-in-out;
}

.slide-menu.show {
    transform: translateX(0);
}

.menu-container {
    padding-top: 0;
    padding-bottom: 0;
}

.menu-container > * {
    width: 100%;
}

.menu-head {
    height: clamp(5rem, 4.308rem + 1.923vw, 8rem);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-menu {
    font-size: var(--font-size-body-xl);
    color: var(--white-color);
    display: flex;
    justify-content: end;
    align-items: center;
}

.slide-menu .menu-list {
    padding-top: 4rem;
    flex-direction: column;
    align-items: start;
}

/* ──────────────── circle-canvas ──────────────── */
.circle-canvas {
    position: absolute;
    inset: 0;
}

/* ──────────────── hero-sec ──────────────── */
.hero-sec {
    position: relative;
    color: var(--white-color);
}

.hero-container {
    background-color: transparent;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    z-index: 5;
}

/* canvas로 그린 원이 요소 틈에 보이지 않도록 배경 설정 */
.hero-content-box,
.hero-image-box {
    background-color: var(--black-color);
}

.hero-main-tit {
    font-size: var(--font-size-display);
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -0.01em;
}

.hero-main-tit .orange-txt {
    font-size: 6rem;
    font-weight: 700;
}

.hero-sub-tit {
    font-size: var(--font-size-title2);
    font-weight: 400;
    color: var(--gray-color-50);
    margin: var(--space-md) 0 var(--space-xl);
    line-height: 1.1;
    letter-spacing: 0.02em;
}

.hero-image-box-lg {
    width: clamp(32rem, 22.8571rem + 8.9286vw, 40rem);
}

.hero-cta {
    font-size: var(--font-size-title3);
    font-weight: 700;
    background-color: #FF5F00;
    transition: all 0.3s ease-in-out;
    border-radius: 50px;
}

.hero-cta:hover {
    filter: brightness(110%);
    transform: scale(1.05);
}

/* ──────────────── recommend-sec ──────────────── */
.tab-btn-box {
    display: flex;
    margin-bottom: var(--space-md);
}

.tab-btn button {
    position: relative;
    font-size: var(--font-size-title2);
    color: var(--gray-color-150);
    padding: 0 var(--space-lg);
    line-height: 1.1;
}

.tab-btn:first-child button::after {
    content: "";
    background-color: var(--gray-color-150);
    /* 의사 요소는 기본적으로 inline 요소라 width/height 적용 안 됨 */
    display: inline-block;
    width: 0.2rem;
    height: var(--font-size-title2);
    /* 의사 요소는 본 요소의 자식처럼 동작 */
    position: absolute;
    right: 0;
    transform: translateX(-50%);
}

.tab-btn.selected button {
    color: var(--primary-color);
    font-weight: 600;
}

.tab-content-box {
    width: 100%;
}

.tab-content.selected {
    display: block;
}

.tab-content:not(.selected) {
    display: none;
}

.tab-panel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.swiper-button-prev,
.swiper-button-next {
    min-width: 4.4rem;
    min-height: 4.4rem;
    position: static;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: var(--font-size-title3);
    color: var(--white-color);
}

.swiper-pagination-bullet {
    width: 1.2rem;
    height: 1.2rem;
    background-color: var(--gray-color-50);
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    position: static;
    margin-top: 1rem;
}

.swiper-pagination-bullet-active {
    background: var(--white-color);
}

.recommend-card {
    color: var(--white-color);
}

.recommend-card.last-card {
    height: auto;
    justify-content: center;
}

.phone-image {
    width: 20rem;
}

.recommend-sec .phone-name {
    font-size: var(--font-size-title3);
    padding-top: 1rem;
}

.phone-option-box {
    width: 100%;
    min-width: 22rem;
}

.phone-option-box input[type="radio"] {
    display: none;
}

.phone-option-box label {
    display: inline-block;
    cursor: pointer;
    /* 최소 타겟 사이즈 확보 */
    min-width: 3.2rem;
    min-height: 3.2rem;
}

.phone-option {
    width: 100%;
    height: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option-name {
    height: fit-content;
    font-size: var(--font-size-body-xl);
    color: var(--gray-color-150);
}

.color-list,
.storage-list {
    display: flex;
}

.color label {
    position: relative;
}

.color label::after {
    content: "";
    display: inline-block;
    width: 2rem;
    height: 2rem;
    /* currentColor: 현 요소의 color 속성 값을 가져옴, color는 상속됨 */
    background-color: currentColor;
    border-radius: 50px;
    box-shadow: inset 0 0 0 0.1rem var(--gray-color-150);
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.color.selected label::after {
    box-shadow: inset 0 0 0 0.25rem var(--white-color), inset 0 0 0 0.35rem var(--gray-color-150);
}

.storage-option {
    position: relative;
}

.storage-list {
    position: absolute;
    top: 50%;
    right: -0.7em;
    transform: translateY(-50%);
}

.storage label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-body-sm);
    line-height: 1.4;
    padding: 0.6em 1.4em;
    position: relative;
}

/* 타겟 사이즈는 유지한 채 시각적 테두리만 작게 보이도록 의사 요소를 사용함 */
.storage label::after {
    content: "";
    display: block;
    box-shadow: inset 0 0 0 0.1rem var(--gray-color-150);
    border-radius: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scale(0.85);
}

.storage.selected label::after {
    box-shadow: inset 0 0 0 0.2rem var(--white-color);
}

.before-cost {
    height: fit-content;
    margin-bottom: var(--space-xxs);
    font-size: var(--font-size-body-sm);
    color: var(--gray-color-150);
    text-align: right;
    text-decoration-line: line-through;
    text-decoration-color: var(--primary-color);
}

.after-cost {
    font-size: var(--font-size-body-lg);
    font-weight: 500;
    letter-spacing: 0.03em;
}

.recommend-card .cta:hover::after {
    border-color: var(--black-color);
    background-color: var(--black-color);
}

/* ──────────────── review-sec ──────────────── */
.reviewSwiper {
    width: 100%;
}

.review {
    width: 27.5rem;
    padding: 4rem 3rem;
    position: relative;
    background-color: #FFF9EF;
}

.quote-image {
    width: 3rem;
    position: absolute;
    top: 2.5rem;
    left: 1.5rem;
}

.review-txt {
    height: 9rem;
    color: #565656;
    font-size: var(--font-size-body-md);
    line-height: 1.4;
    letter-spacing: 0.02em;
}

.stars-image {
    height: 1.5rem;
}

.user-name {
    text-align: center;
    font-size: var(--font-size-body-lg);
}

.review-sec .phone-name {
    font-size: var(--font-size-body-sm);
    color: var(--gray-color-150);
    margin-top: var(--space-xs);
}

/* ──────────────── benefit-sec ──────────────── */
.benefit-sec {
    overflow: hidden;
}

.benefit-sec .sec-tit {
    margin-bottom: var(--space-md);
}

.benefit-idx-container, .benefit-idx-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-sm);
    font-size: var(--font-size-title2);
}

.benefit-arrow-btn:disabled img {
    opacity: 0.2;
}

.benefit-list {
    color: var(--brown-color);
    position: relative;
    margin-top: var(--space-xl);
}

.benefit {
    gap: 0;
    padding: 5rem;
    backdrop-filter: blur(3rem);
    /* 사파리 브라우저 호환성 */
    -webkit-backdrop-filter: blur(3rem); 
}

.benefit-tit {
    font-size: var(--font-size-title3);
    font-weight: 700;
    letter-spacing: -0.02em;
}

.benefit-subtit {
    font-size: var(--font-size-body-lg);
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.benefit img {
    width: clamp(10rem, 7.673rem + 4.858vw, 17rem);
    height: clamp(10rem, 8.362rem + 4.551vw, 17.1rem);
    object-fit: contain; 
}

.benefit-desc {
    font-size: var(--font-size-body-md);
    text-align: center;
    line-height: 1.4;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.benefit-cta {
    font-size: var( --font-size-body-xl);
    font-weight: 500;
    color: var(--white-color);
    padding: 1.5rem 3rem;
    background-color: var(--black-color);
    border-radius: 5rem;
}

.benefit:not(.first) {
    position: absolute;
    inset: 0;
}

.benefit:nth-child(2) {
    background-color: rgba(255, 239, 188, 0.3);
    z-index: 9;
}

.benefit:nth-child(3) {
    background-color: rgba(237, 175, 90, 0.3);
    z-index: 8;
}

.benefit:nth-child(4) {
    background-color: rgba(218, 122, 54, 0.3);
    z-index: 7;
}

.benefit:nth-child(5) {
    background-color: rgba(128, 64, 19, 0.3);
    z-index: 6;
}

.benefit:nth-child(6) {
    background-color: rgba(87, 44, 1, 0.3);
    z-index: 5;
}

/* 뒤에 있던 카드가 first가 되면 기존 스타일을 덮어쓰도록 하단에 작성 */
.benefit.first {
    background-color: var(--light-yellow-color);
    opacity: 1;
    backdrop-filter: blur(0);
    box-shadow: 0.6rem 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 10;
}

/* ──────────────── process-sec ──────────────── */
.process-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* flex-item의 줄바꿈을 허용 */
    flex-wrap: wrap;
}

.process {
    width: 22rem;
    gap: 4rem;
}

.process-tit {
    color: var(--gray-color-150);
}

.process-icon {
    height: 8rem;
}

.process-desc {
    font-size: var(--font-size-body-md);
    color: var(--white-color);
    text-align: center;
    line-height: 1.4;
    letter-spacing: 0.04em;
}

/* ──────────────── contact-sec ──────────────── */
.contact-sec {
    position: relative;
}

.form-container {
    width: 90%;
    position: relative;
    z-index: 5;
}

.contact-robot {
    width: clamp(5rem, 3.846rem + 3.205vw, 10rem);
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-100%);
}

.contact-form {
    width: 100%;
    padding: 4rem 3rem;
    background: var(--yellow-gradient-color);
    border: 0.05rem solid var(--gray-color-150);
    border-radius: 1rem;
}

.form-grid {
    display: flex;
    flex-direction: column;
    gap: 2rem;    
}

.form-grid input, .form-grid textarea {
    width: 100%;
    padding: 1.5rem;
    font-family: inherit;
    font-size: var(--font-size-body-md);
    line-height: 1.4;
    border-radius: 1rem;
    border: none;
    outline: none;
}

.form-grid input:focus, .form-grid textarea:focus {
    box-shadow: inset 0 0 0 0.1rem var(--primary-color);    
}

.form-grid textarea {
    height: 20rem;
}

.grid-top {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.label-match {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

label {
    font-size: var(--font-size-body-lg);
    color: var(--gray-color-100);
    cursor: pointer;
}

.privacy-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6rem;
}

#privacy-check {
    width: 0.1rem;
    height: 0.1rem;
    margin: -0.1rem;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
}

.fa-square-check {
    font-size: var(--font-size-body-sm); ;    
    color: var(--gray-color-100);
    opacity: 0.35;
    margin-right: 0.5rem;
}

#privacy-check:checked + label .fa-square-check {
    color: var(--primary-color);
    opacity: 1;
}

.privacy-group label{
    height: 4.4rem;
    font-size: var(--font-size-body-sm);  
    line-height: 1.4;
    display: flex;
    align-items: center;
}

.privacy-detail {
    font-size: var(--font-size-body-sm);   
    color: var(--gray-color-100);
    text-decoration: underline;
    text-underline-offset: 0.4rem;
    letter-spacing: 0.01em;
    transition: all 0.3s ease-in-out; 
}

.privacy-detail:hover {
    color: var(--white-color);  
}

.form-btn {
    width: 100%;
    height: clamp(5rem, 4.769rem + 0.641vw, 6rem);
    font-size: var(--font-size-body-md);
    font-weight: 600;   
    color: var(--white-color); 
    background-color: var(--primary-color);
    border-radius: 1rem;
    transition: all 0.25s ease-in-out; 
}

.form-btn:hover {
    background-color: var(--primary-hover-color);
}

/* ──────────────── footer ──────────────── */
footer {
    background-color: var(--gray-color-200);
}

.footer-container {
    padding: calc(var(--space-padding-vertical) / 2) var(--space-padding-horizontal);
    align-items: start;
}

footer p {
    font-size: var(--font-size-body-sm);
    color: var(--gray-color-100);
    letter-spacing: 0.01em;
    line-height: 1.4;
}

.company-info-1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.company-info-2 {
    margin: 3rem 0;
}

.copyright {
    font-weight: 300;
}

.association {
    display: flex;
    gap: 3rem;
    margin-top: 3rem;
}

.association img {
    height: 3rem;
}

/* width: fit-content; height: fit-content;를 줘도 min-width/min-height가 우선 적용됨.
   따라서 min-width와 min-height 속성을 무효화해야함 */
.footer-container button {
    font-size: var(--font-size-body-sm);
    color: var(--gray-color-50);
    font-weight: 500;
    min-width: unset;
    min-height: unset;
    width: fit-content;
    height: fit-content;
}

.footer-container button:hover {
    color: var(--primary-color);
}

/* ──────────────── validation-modal ──────────────── */
.validation-modal {
    width: clamp(30rem, 25.385rem + 12.821vw, 50rem);
    padding: 3rem;
    background-color: var(--white-color);
    border-radius: 1rem;
}

.error-msg {
    font-size: var(--font-size-body-md);
    color: var(--black-color);
    line-height: 1.4; 
    text-align: center;  
    /* JS의 \n을 줄바꿈으로 인식하며, 연속된 공백은 하나로 줄이고 자동 줄바꿈도 허용함 */
    white-space: pre-line; 
}

.validation-modal .close-modal {
    min-width: unset;
    min-height: unset;
    width: fit-content;
    height: fit-content;
    padding: 1rem 4rem;
    margin: 0 auto;
    border-radius: 1rem;
    font-size: var(--font-size-body-sm);
    color: var(--white-color);
    background-color: var(--primary-color);
}

/* ──────────────── break point : 1439px ──────────────── */
@media (max-width: 1439px) {

    /* ──────────────── process-sec ──────────────── */
    /* flex-wrap: wrap으로 설정한 후 Flex Container의 너비를 한 번에 줄이고
       왼쪽 카드는 margin-left: auto, 오른쪽 카드는 margin-right: auto로 지정하여 중앙 정렬 */
    .process-list {
        width: 70rem;
    }

    .process:nth-child(4) {
        margin: 2rem 1rem 0 auto;
    }

    /* 수평 방향의 margin에서는 margin-collapse가 적용 X */
    .process:nth-child(5) {
        margin: 2rem auto 0 1rem;
    }
}

/* ──────────────── break point : 1023px ──────────────── */
@media (max-width: 1023px) {

    /* ──────────────── hero-sec ──────────────── */
    .hero-container {
        justify-content: center;
    }

    .hero-content-box {
        text-align: center;
    }

    .hero-main-tit .orange-txt {
        font-size: 5.2rem;
    }

    .hero-sub-tit {
        margin: var(--space-lg) 0 var(--space-xxl);
        line-height: 1.3;
    }

    .hero-image-box-sm {
        width: 25rem;
        margin: 0 auto var(--space-xxl);
        /* 이미지가 이미 정중앙에 위치하나 시각적 중앙 맞춤을 위해 30px 좌측 이동 */
        transform: translateX(-30px);
    }

    /* ──────────────── recommend-sec ──────────────── */
    .phone-image {
        width: 18rem;
    }

    /* ──────────────── benefit-sec ──────────────── */
    .benefit {
        padding: 4rem 3rem;
    }

    /* ──────────────── contact-sec ──────────────── */
    .contact-form {
        padding: 3rem;
    }

    .privacy-group {
        margin-bottom: 4rem;
    }

}

/* ──────────────── break point : 767px ────────────────*/
@media (max-width: 767px) {

    /* ──────────────── header ──────────────── */
    header .menu-list {
        display: none;
    }

    .hamburger-btn {
        display: flex;
        justify-content: end;
        align-items: center;
    }

    /* ──────────────── hero-sec ──────────────── */
    .hero-main-tit {
        line-height: 1.2;
    }

    .hero-main-tit .orange-txt {
        font-size: 4.2rem;
    }

    .hero-sub-tit {
        margin: var(--space-lg) 0 var(--space-xl);
    }

    .hero-image-box-sm {
        width: 20rem;
        margin: 0 auto var(--space-xl);
        transform: translateX(-20px);
    }

    .hero-cta {
        line-height: 1.3;
    }

    /* ──────────────── recommend-sec ──────────────── */
    .phone-option-box {
        min-width: 20rem;
    }

    .phone-option {
        height: 4.2rem;
    }

    .color label::after {
        width: 1.8rem;
        height: 1.8rem;
    }

    .storage label,
    .before-cost {
        line-height: 1.3;
    }

    /* ──────────────── benefit-sec ──────────────── */
    .benefit {
        padding: 3rem 2rem;
    }

    /* ──────────────── review-sec ──────────────── */
    .review-txt {
        height: 7.5rem;
    }

    /* ──────────────── process-sec ──────────────── */
    .process-list {
        width: 40rem;
        flex-direction: column;
        gap: 2rem;
    }

    .process {
        width: 100%;
        position: relative;
        /* process-tit, process-desc를 오른쪽으로 위치시킴 */
        align-items: end;
        gap: 2rem;
    }

    .process:nth-child(4),
    .process:nth-child(5) {
        margin: 0;
    }

    .process-icon {
        width: 20%;
        height: auto;
        position: absolute;
        left: 12%;
        top: 50%;
        transform: translateY(-50%);
    }

    .process-tit,
    .process-desc {
        /* process-icon의 좌우 여백을 같게 하기 위해 12%를 추가로 뺌 */
        width: calc(100% - (20% + 12% + 12%));
        text-align: left;
    }

    /* ──────────────── contact-sec ──────────────── */
    .form-container {
        width: 85%;
    }

    .contact-form {
        padding: 4rem;
    }

    .grid-top {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: none;
    }

    .privacy-group {
        margin-bottom: 3rem;
    }
}

/* ──────────────── break point : 479px ────────────────*/
@media (max-width: 479px) {

    /* ──────────────── hero-sec ──────────────── */
    .hero-main-tit .orange-txt {
        font-size: 4rem;
    }

    .hero-cta {
        padding: 0.75em 1.5em;
    }

    .tab-btn button {
        padding: 0 var(--space-lg-extra);
    }

    /* ──────────────── recommend-sec ──────────────── */
    .phone-image {
        width: 15rem;
    }

    .after-cost {
        font-size: var(--font-size-body-xl);
    }

    /* ──────────────── process-sec ──────────────── */
    .process-list {
        width: 100%;
    }

    .process {
        gap: 1rem;
    }

    .process-icon {
        width: 7rem;
        left: 8%;
    }

    .process-tit,
    .process-desc {
        width: calc(100% - (20% + 8% + 8%));
        text-align: left;
    }

    /* ──────────────── contact-sec ──────────────── */
    .form-container {
        width: 100%;
    }

    .contact-form {
        padding: 3rem;
    }
}