@charset "utf-8";

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    src: local('Pretendard-Bold'),
        url("../font/Pretendard-Bold.ttf") format('truetype'),
        url("../font/Pretendard-Bold.woff2") format('woff2') url("../font/Pretendard-Bold.woff") format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    src: local('Pretendard-SemiBold'),
        url("../font/Pretendard-SemiBold.ttf") format('truetype'),
        url("../font/Pretendard-SemiBold.woff2") format('woff2'),
        url("../font/Pretendard-SemiBold.woff") format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    src: local('Pretendard-Medium'),
        url("../font/Pretendard-Medium.ttf") format('truetype'),
        url("../font/Pretendard-Medium.woff2") format("woff2"),
        url("../font/Pretendard-Medium.woff") format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    src: local('Pretendard-Regular'),
        url("../font/Pretendard-Regular.ttf") format('truetype'),
        url("../font/Pretendard-Regular.woff2") format('woff2'),
        url("../font/Pretendard-Regular.woff") format('woff');
}

/* ──────────────── common ──────────────── */
:root {
    /* ──── color ──── */
    --white-color: #ffffff;
    --black-color: #121212;
    --primary-color: #FC8A46;
    --light-gray-color: #E0E0E0;
    --dark-gray-color: #989898;
    --yellow-gradient-color: linear-gradient(to bottom, #5E5E5E, #59543A);

    /* ──── spacing ──── */
    --space-xxs: 0.6rem;
    --space-xs: 0.8rem;
    --space-sm: 1.5rem;
    --space-md: 3rem;
    --space-lg: 6rem;
    --space-xl: 12rem;
    --space-card-gap: 2.5rem;
    --space-padding-horizontal: 8rem;
    --space-padding-vertical: 12rem;

    /* ──── font-size ──── */
    --font-size-h2-hero: 4.8rem;
    --font-size-h2: 4.5rem;
    --font-size-h3: 3rem;
    --font-size-h4: 2.4rem;
    --font-size-card-tit: 2.4rem;
    --font-size-body-xl: 2rem;
    --font-size-body-lg: 1.8rem;
    --font-size-body-md: 1.6rem;
    --font-size-body-sm: 1.4rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 1rem을 10px로 설정 */
html {
    font-size: 62.5%;
}

body {
    background-color: var(--black-color);
    font-family: "Pretendard";
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: var(--white-color);
    display: inline-block;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: 0;
}

/* 최소 타겟 사이즈 확보 */
a,
button {
    min-width: 4.4rem;
    min-height: 4.4rem;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: var(--space-padding-vertical) var(--space-padding-horizontal);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orange-txt {
    color: var(--primary-color);
}

.no-pc {
    display: none;
}

.cta {
    padding: 0.6em 1.4em;
}

.sub-cta {
    font-size: var(--font-size-body-md);
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

.sub-cta::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    border: 1px solid var(--dark-gray-color);
    border-radius: 50px;
    transform: scale(0.9);
    transition: all 0.3s ease-in-out;
}

.image-box img {
    width: 100%;
    object-fit: cover;
}

.sec-tit {
    font-size: var(--font-size-h2);
    font-weight: 700;
    margin-bottom: var(--space-lg);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-card-gap);
    border-radius: 1rem;
    padding: 3rem 2rem;
}

.card-tit {
    font-size: var(--font-size-card-tit);
    font-weight: 600;
    letter-spacing: 0.04em;
}

.yellow-gradient-bg {
    background: var(--yellow-gradient-color);
    border: 0.5px solid var(--dark-gray-color);
}

.small-desc {
    color: var(--dark-gray-color);
    font-size: var(--font-size-body-sm);
    text-align: center;
    line-height: 1.4;
    letter-spacing: 0.02em;
}

/* ──────────────── hero-sec ──────────────── */
.hero-sec {
    color: var(--white-color);
}

.hero-container {
    flex-direction: row;
    justify-content: space-between;
}

/* canvas로 그린 원이 요소 틈에 보이지 않도록 배경 설정 */
.hero-content-box,
.hero-image-box {
    background-color: var(--black-color);
}

.hero-main-tit {
    font-size: var(--font-size-h2-hero);
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -0.01em;
}

.hero-main-tit .orange-txt {
    font-size: 6rem;
    font-weight: 700;
}

.hero-sub-tit {
    font-size: var(--font-size-h3);
    font-weight: 400;
    color: var(--light-gray-color);
    margin: var(--space-md) 0 var(--space-xl);
    line-height: 1.1;
    letter-spacing: 0.02em;
}

/* https://clamp.font-size.app/?config=eyJyb290IjoiMTYiLCJtaW5XaWR0aCI6IjEwMjVweCIsIm1heFdpZHRoIjoiMTkyMHB4IiwibWluRm9udFNpemUiOiIzNTBweCIsIm1heEZvbnRTaXplIjoiNDAwcHgifQ%3D%3D 활용 */
.hero-image-box-lg {
    width: clamp(32rem, 22.8571rem + 8.9286vw, 40rem);
}

.hero-cta {
    font-size: var(--font-size-h4);
    font-weight: 700;
    background-color: #FF5F00;
    transition: all 0.3s ease-in-out;
    border-radius: 50px;
}

.hero-cta:hover {
    filter: brightness(110%);
    transform: scale(1.05);
}

/* ──────────────── recommend-sec ──────────────── */
.tab-btn-box {
    display: flex;
    margin-bottom: var(--space-md);
}

.tab-btn button {
    position: relative;
    font-size: var(--font-size-h3);
    color: var(--dark-gray-color);
    padding: 0 var(--space-lg);
    line-height: 1.1;
}

.tab-btn:first-child button::after {
    content: "";
    background-color: var(--dark-gray-color);
    /* 의사 요소는 기본적으로 inline 요소라 width/height 적용 안 됨 */
    display: inline-block;
    width: 0.2rem;
    height: var(--font-size-h3);
    /* 의사 요소는 본 요소의 자식처럼 동작 */
    position: absolute;
    right: 0;
    transform: translateX(-50%);
}

.tab-btn.selected button {
    color: var(--primary-color);
    font-weight: 600;
}

.tab-content-box {
    width: 100%;
}

.tab-content.selected {
    display: block;
}

.tab-content:not(.selected) {
    display: none;
}

.tab-panel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.swiper-button-prev,
.swiper-button-next {
    min-width: 4.4rem;
    min-height: 4.4rem;
    position: static;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: var(--font-size-h4);
    color: var(--white-color);
}

.swiper-pagination-bullet {
    width: 1.2rem;
    height: 1.2rem;
    background-color: var(--light-gray-color);
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    position: static;
    margin-top: 1rem;
}

.swiper-pagination-bullet-active {
    background: var(--white-color);
}

.recommend-card {
    color: var(--white-color);
}

.recommend-card.last-card {
    height: auto;
    justify-content: center;
}

.phone-image {
    width: 20rem;
}

.recommend-sec .phone-name {
    padding-top: 1rem;
}

.phone-option-box {
    width: 100%;
    min-width: 22rem;
}

.phone-option-box input[type="radio"] {
    display: none;
}

.phone-option-box label {
    display: inline-block;
    cursor: pointer;
    /* 최소 타겟 사이즈 확보 */
    min-width: 3.2rem;
    min-height: 3.2rem;
}

.phone-option {
    width: 100%;
    height: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option-name {
    height: fit-content;
    font-size: var(--font-size-body-xl);
    color: var(--dark-gray-color);
}

.color-list,
.storage-list {
    display: flex;
}

.color label {
    position: relative;
}

.color label::after {
    content: "";
    display: inline-block;
    width: 2rem;
    height: 2rem;
    /* currentColor: 현 요소의 color 속성 값을 가져옴, color는 상속됨 */
    background-color: currentColor;
    border-radius: 50px;
    box-shadow: inset 0 0 0 0.1rem var(--dark-gray-color);
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.color.selected label::after {
    box-shadow: inset 0 0 0 0.25rem var(--white-color), inset 0 0 0 0.35rem var(--dark-gray-color);
}

.storage-option {
    position: relative;
}

.storage-list {
    position: absolute;
    top: 50%;
    right: -0.7em;
    transform: translateY(-50%);
}

.storage label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-body-sm);
    line-height: 1.4;
    padding: 0.6em 1.4em;
    position: relative;
}


/* 타겟 사이즈는 유지한 채 시각적 테두리만 작게 보이도록 의사 요소를 사용함 */
.storage label::after {
    content: "";
    display: block;
    box-shadow: inset 0 0 0 0.1rem var(--dark-gray-color);
    border-radius: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scale(0.85);
}

.storage.selected label::after {
    box-shadow: inset 0 0 0 0.2rem var(--white-color);
}

.before-cost {
    height: fit-content;
    margin-bottom: var(--space-xxs);
    font-size: var(--font-size-body-sm);
    color: var(--dark-gray-color);
    text-align: right;
    text-decoration-line: line-through;
    text-decoration-color: var(--primary-color);
}

.after-cost {
    font-size: var(--font-size-body-lg);
    font-weight: 500;
    letter-spacing: 0.03em;
}

.recommend-card .cta:hover::after {
    border-color: var(--black-color);
    background-color: var(--black-color);
}

.recommend-small-desc {
    margin-top: var(--space-xl);
}

/* ──────────────── review-sec ──────────────── */
.reviewSwiper {
    width: 100%;
}

.review {
    width: 27.5rem;
    padding: 4rem 3rem;
    position: relative;
    background-color: #FFF9EF;
}

.quote-image {
    width: 3rem;
    position: absolute;
    top: 2.5rem;
    left: 1.5rem;
}

.review-txt {
    height: 9rem;
    color: #565656;
    font-size: var(--font-size-body-md);
    line-height: 1.4;
    letter-spacing: 0.02em;
}

.stars-image {
    height: 1.5rem;
}

.user-name {
    text-align: center;
    font-size: var(--font-size-body-lg);
}

.review-sec .phone-name {
    font-size: var(--font-size-body-sm);
    color: var(--dark-gray-color);
    margin-top: var(--space-xs);
}

/* ──────────────── process-sec ──────────────── */
.process-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* 줄바꿈 허용 */
    flex-wrap: wrap;
}

.process {
    width: 22rem;
    gap: 4rem;
}

.process-tit {
    color: var(--dark-gray-color);
}

.process-icon {
    height: 8rem;
}

.process-desc {
    font-size: var(--font-size-body-md);
    color: var(--white-color);
    text-align: center;
    line-height: 1.4;
    letter-spacing: 0.04em;
}


/* ──────────────── break point : 1439px ──────────────── */
@media (max-width: 1439px) {

    /* ──────────────── process-sec ──────────────── */
    /* flex-wrap: wrap으로 설정한 후 Flex Container의 너비를 한 번에 줄이고
       왼쪽 카드는 margin-left: auto, 오른쪽 카드는 margin-right: auto로 지정하여 중앙 정렬 */
    .process-list {
        width: 70rem;
    }

    .process:nth-child(4) {
        margin: 2rem 1rem 0 auto;
    }

    /* 수평 방향의 margin에서는 margin-collapse가 적용 X */
    .process:nth-child(5) {
        margin: 2rem auto 0 1rem;
    }
}

/* ──────────────── break point : 1023px ──────────────── */
@media (max-width: 1023px) {

    /* ──────────────── common ──────────────── */
    :root {
        /* ──── spacing ──── */
        /* 8px */
        --space-sm: 0.8rem;
        /* 16px */
        --space-md: 1.6rem;
        /* 32px */
        --space-lg: 3.2rem;
        /* 64px */
        --space-xl: 6.4rem;
        /* 80px */
        --space-xxl: 8rem;
        /* 32px */
        --space-padding-horizontal: 3.2rem;
        /* 64px */
        --space-padding-vertical: 6.4rem;

        /* ──── font-size ──── */
        --font-size-h2-hero: 4rem;
        --font-size-h2: 3.6rem;
        --font-size-h3: 2.4rem;
        --font-size-h4: 2rem;
        --font-size-card-tit: 2.2rem;
        --font-size-body-xl: 2rem;
        --font-size-body-lg: 1.8rem;
        --font-size-body-md: 1.6rem;
        --font-size-body-sm: 1.4rem;
    }

    .container {
        max-width: 960px;
    }

    .only-pc {
        display: none;
    }

    .no-pc {
        display: block;
    }

    /* ──────────────── hero-sec ──────────────── */
    .hero-container {
        justify-content: center;
    }

    .hero-content-box {
        text-align: center;
    }

    .hero-main-tit .orange-txt {
        font-size: 5.2rem;
    }

    .hero-sub-tit {
        margin: var(--space-lg) 0 var(--space-xxl);
        line-height: 1.3;
    }

    .hero-image-box-sm {
        width: 25rem;
        margin: 0 auto var(--space-xxl);
        /* 이미지가 이미 정중앙에 위치하나 시각적 중앙 맞춤을 위해 30px 좌측 이동 */
        transform: translateX(-30px);
    }

    /* ──────────────── recommend-sec ──────────────── */
    .phone-image {
        width: 18rem;
    }


}

/* ──────────────── break point : 767px ────────────────*/
@media (max-width: 767px) {

    /* ──────────────── common ──────────────── */
    :root {
        /* ──── spacing ──── */
        /* 14px */
        --space-md: 1.4rem;
        /* 28px */
        --space-lg: 2.8rem;
        /* 56px */
        --space-xl: 5.6rem;
        /* 16px */
        --space-padding-horizontal: 1.6rem;
        /* 56px */
        --space-padding-vertical: 5.6rem;

        /* ──── font-size ──── */
        --font-size-h2-hero: 3rem;
        --font-size-h2: 3rem;
        --font-size-h3: 2rem;
        --font-size-h4: 1.8rem;
        --font-size-card-tit: 1.8rem;
        --font-size-body-xl: 1.8rem;
        --font-size-body-lg: 1.6rem;
        --font-size-body-md: 1.4rem;
        --font-size-body-sm: 1.3rem;
        --font-size-body-xs: 1.2rem;
    }

    .container {
        max-width: 720px;
    }

    .card-tit {
        letter-spacing: 0.04em;
    }

    .small-desc {
        font-size: var(--font-size-body-xs);
    }

    .no-mob {
        display: none;
    }

    /* ──────────────── hero-sec ──────────────── */
    .hero-main-tit {
        line-height: 1.2;
    }

    .hero-main-tit .orange-txt {
        font-size: 4.2rem;
    }

    .hero-sub-tit {
        margin: var(--space-lg) 0 var(--space-xl);
    }

    .hero-image-box-sm {
        width: 20rem;
        margin: 0 auto var(--space-xl);
        transform: translateX(-20px);
    }

    .hero-cta {
        line-height: 1.3;
    }

    /* ──────────────── recommend-sec ──────────────── */
    .phone-option-box {
        min-width: 20rem;
    }

    .phone-option {
        height: 4.2rem;
    }

    .color label::after {
        width: 1.8rem;
        height: 1.8rem;
    }

    .storage label,
    .before-cost {
        line-height: 1.3;
    }

    /* ──────────────── review-sec ──────────────── */
    .review-txt {
        height: 7.5rem;
    }

    /* ──────────────── process-sec ──────────────── */
    .process-list {
        width: 40rem;
        flex-direction: column;
        gap: 2rem;
    }

    .process {
        width: 100%;
        position: relative;
        /* process-tit, process-desc를 오른쪽으로 위치시킴 */
        align-items: end;
        gap: 2rem;
    }

    .process:nth-child(4),
    .process:nth-child(5) {
        margin: 0;
    }

    .process-icon {
        width: 20%;
        height: auto;
        position: absolute;
        left: 12%;
        top: 50%;
        transform: translateY(-50%);
    }

    .process-tit,
    .process-desc {
        /* process-icon의 좌우 여백을 같게 하기 위해 12%를 추가로 뺌 */
        width: calc(100% - (20% + 12% + 12%));
        text-align: left;
    }


}

/* ──────────────── break point : 479px ────────────────*/
@media (max-width: 479px) {

    /* ──────────────── common ──────────────── */
    :root {
        /* ──── spacing ──── */
        /* 4px */
        --space-xs: 0.4rem;
        /* 8px */
        --space-sm: 0.8rem;
        /* 28px */
        --space-lg-extra: 2rem;
        /* 16px */
        --space-padding-horizontal: 1.6rem;
        /* 56px */
        --space-padding-vertical: 5.6rem;

        /* ──── font-size ──── */
        --font-size-h2-hero: 2.8rem;
        --font-size-h2: 2.8rem;
        --font-size-h3: 1.8rem;
        --font-size-h4: 1.6rem;
        --font-size-card-tit: 1.8rem;
    }

    .container {
        max-width: 440px;
    }

    /* ──────────────── hero-sec ──────────────── */
    .hero-main-tit .orange-txt {
        font-size: 4rem;
    }

    .hero-cta {
        padding: 0.75em 1.5em;
    }

    .tab-btn button {
        padding: 0 var(--space-lg-extra);
    }

    /* ──────────────── recommend-sec ──────────────── */
    .phone-image {
        width: 15rem;
    }

    .after-cost {
        font-size: var(--font-size-body-xl);
    }

    /* ──────────────── process-sec ──────────────── */
    .process-list {
        width: 100%;
    }

    .process {
        gap: 1rem;
    }

    .process-icon {
        width: 7rem;
        left: 8%;
    }

    .process-tit,
    .process-desc {
        width: calc(100% - (20% + 8% + 8%));
        text-align: left;
    }
}